<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>

<body>
<div><a th:href="@{/home/home}">Go home</a></div>

<div class="container">
    <form th:action="@{/change_password}"  method="POST" th:object="${changePasswordRequest}>
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        <label for="currentPassword" class="label-current-password">Current Password</label>
        <input type="password" id="currentPassword" name="current-password" class="form-control"
               placeholder="CurrentPassword" required>
        <label for="newPassword" class="label-newt-password">New Password</label>
        <input type="password" id="newPassword" name="new-password" class="form-control" placeholder="NewPassword"
               required>
        <label for="newPasswordConfirm" class="label-newt-password">New Password Confirm</label>
        <input type="password" id="newPasswordConfirm" name="new-password" class="form-control"
               placeholder="NewPasswordConfirm" required>

        <div class="checkbox mb-3"></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    </form>
</div>
</body>
</html>
